<div>
    <div class="grid grid-cols-2 border-b overflow-hidden text-sm text-gray-600 divide-x">
        <div
            (click)="setState('component')"
            [class]="state === 'component' ? 'border-b-2 font-semibold border-b-indigo-500 text-gray-800' : ''"
            class="p-4 text-center cursor-pointer transition-all duration-150"
        >
            Demo
        </div>
        <div
            (click)="setState('documentation')"
            [class]="state === 'documentation' ? 'border-b-2 font-semibold border-b-indigo-500 text-gray-800' : ''"
            class="p-4 text-center cursor-pointer transition-all duration-150"
        >
            Docs
        </div>
    </div>
    <div class="py-12 relative">
        @switch (state) {
            @case ('component') {
                <div @fadeAnimation>
                    <ng-content select="[component]"/>
                </div>
            }
            @case ('documentation') {
                <div @fadeAnimation>
                    <ng-content select="[documentation]"/>
                </div>
            }
        }
    </div>
</div>