<pandora-notification-container/>

<div class="min-h-screen flex">
    <div class="border-r">
        <div class="w-60 sticky top-0 h-fit divide-y">
            @for (group of routes | keyvalue; track group) {
                <div class="row-span-full">
                    <h2 class="px-4 py-3 font-semibold">
                        {{ group.key }}
                    </h2>
                    <ul class="border-t w-full">
                        @for (route of group.value; track route) {
                            <li class="px-2 py-1 w-full">
                                <a
                                    [routerLink]="group.key + '/' + route.path"
                                    class="block px-3 py-1 text-sm hover:bg-gray-100 rounded-md overflow-hidden w-full"
                                >
                                    {{ route.path }}
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="flex-grow">
        <h1 class="px-6 py-3 text-lg font-bold border-b">
            <pandora-animated>
                <div>
                    {{ currentRoute.snapshot?.url }}
                </div>
            </pandora-animated>
        </h1>
        <div>
            <router-outlet/>
        </div>
    </div>
</div>